:host {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all .3s;

  &:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  }

  .company-logo {
    max-height: 50px;
  }

  .job {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    button {
      line-height: 26px;
    }
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .info {
    display: flex;
    align-items: baseline;

    h3, h4, h5 {
      margin: 5px 0;
      font-weight: 500;
    }

    h3 {
      margin-bottom: 15px;
    }

    h5 {
      margin-left: 10px;
      color: #a6b4c4;
    }
  }

  .details {
    justify-content: flex-end;
  }

  .details, .details > span {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .details > span {
    margin-left: 10px;
  }

}
